@charset "utf-8";
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: #fbfbfb;
    /* background-color: #0288d1; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color: #0288d1;
}

a:visited {
    text-decoration: none;
    color: #0288d1;
}

a:hover {
    text-decoration: none;
    color: #0288d1;
}

a:active {
    text-decoration: none;
    color: #0288d1;
}

p {
    margin: 0;
    /* border-top: 1px solid #bfbfbf; */
}

header {
    margin: 0 auto;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1;
    background-color: rgba(246, 246, 246, .4);
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-bottom: 1px solid #bfbfbf;
}

#headerContent {
    width: 960px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.headerCell {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.headerText {
    position: absolute;
    margin: 0 auto;
    z-index: 1;
    color: #FF0066;
    z-index: 1;
}

.headerText a:link {
    text-decoration: none;
    /* color: #FF0066; */
    color: #FF0066;
}

.headerText a:visited {
    text-decoration: none;
    color: #FF0066;
    /* color: white; */
}

.headerText a:hover {
    text-decoration: none;
    color: #FF0066;
}

.headerText a:active {
    text-decoration: none;
    color: #FF0066;
}

.bar {
    position: relative;
    top: 10%;
    width: 1px;
    height: 80%;
    stroke: #CCC;
}

.headerIcon {
    position: absolute;
    height: 50%;
    width: auto;
    /* fill: #0288d1; */
    fill: #FF0066;
    opacity: .1;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    z-index: 0;
}

#landing {
    height: 100vh;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #0288d1;
}

article {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#landing {
    font-size: 7mm;
}

#aboutContent {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 340px;
}

#hirfSkull {
    width: 50%;
    max-width: 60px;
    height: auto;
    fill: #0288d1;
}

.thumbnail {
    width: 200px;
    height: 200px;
    background-color: white;
}

.thumbnailImg {
    width: 200px;
    height: 200px;
}

.subHead {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    font-size: 1.5em;
    /* text-shadow: 2px 2px 2px #222; */
    /* color: #0288d1; */
    color: #FF0066;
}

#contact {
    padding-bottom: 30px;
}

footer {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    color: #0288d1;
    background-color: rgba(246, 246, 246, .4);
    border-top: 1px solid #bfbfbf;
}

#footerContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.years {}

.items {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.description {
    width: 200px;
    word-wrap: break-word;
}

.svgIcon {
    fill: #0288d1;
    width: 30px;
    height: auto;
    vertical-align: middle;
}

.link {
    text-align: center;
    vertical-align: middle;
    color: #0288d1;
}

.linkIcon {
    height: 1em;
    display: inline-flex;
    vertical-align: text-top;
    color: #0288d1;
    fill: #0288d1;
}